@font-face {
  font-family: "iconfont"; /* Project id 2578686 */
  src: url('iconfont.woff2?t=1754615606896') format('woff2'),
       url('iconfont.woff?t=1754615606896') format('woff'),
       url('iconfont.ttf?t=1754615606896') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yidongduan:before {
  content: "\e63f";
}

.icon-xiaochengxu1:before {
  content: "\e63e";
}

.icon-xingzhuangjiehe:before {
  content: "\e610";
}

.icon-vite:before {
  content: "\e66b";
}

.icon-nextjs:before {
  content: "\e632";
}

.icon-linux:before {
  content: "\e769";
}

.icon-icon-test:before {
  content: "\e611";
}

.icon-shujujiegou:before {
  content: "\e734";
}

.icon-meishi:before {
  content: "\e60c";
}

.icon-lvyou:before {
  content: "\e601";
}

.icon-Vue:before {
  content: "\e799";
}

.icon-React:before {
  content: "\e79a";
}

.icon-xiaochengxu:before {
  content: "\e63a";
}

.icon-houduankaifa:before {
  content: "\e64a";
}

.icon-java:before {
  content: "\e639";
}

.icon-js:before {
  content: "\e60e";
}

.icon-life:before {
  content: "\e7c0";
}

.icon-shujuku:before {
  content: "\e997";
}

.icon-css:before {
  content: "\e618";
}

.icon-diannao:before {
  content: "\e603";
}

.icon-caozuoxitong:before {
  content: "\e686";
}

.icon-a-wangluojisuanjizaixianjisuanjiwangluojisuanji:before {
  content: "\e7c4";
}

.icon-fuzhi:before {
  content: "\e65f";
}

.icon-Menu:before {
  content: "\e60f";
}

.icon-close:before {
  content: "\e666";
}

.icon-nianling:before {
  content: "\e6bb";
}

.icon-xueli:before {
  content: "\e60d";
}

.icon-xuexiao:before {
  content: "\e64f";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-phone:before {
  content: "\e6c2";
}

.icon-github:before {
  content: "\e66f";
}

.icon-email:before {
  content: "\e670";
}

.icon-website:before {
  content: "\e602";
}

.icon-Webkaifa:before {
  content: "\e6b5";
}

.icon-anjishufenlei:before {
  content: "\e69b";
}

